/*PÁGINA COM CSS E ESTRUTURA HTML5*/

body {
    background-color: #EEEE33;
    font-family: verdana, liberation;
    font-size: 16px;
    color: #DD0000;
}

header {
    display: block;
    margin-bottom: 1px;
}

nav {
    display: block;
    width: 20%;
    float: left;
}

section {
    display: block;
    width: 77%;
    float: right
}

a {
    text-decoration: none;
    color: #DD0000
}

a:visited {
    color: #CC0000;
}

ul {
    list-style-image: url("Imagens/Engrenagem.png");
}

nav ul {
    line-height: 230%;
    margin-top: 40px;
}

.ender {
    text-align: right;
    font-size: 15px;
    line-height: 140%;
    float: right;
}

.imgLogo {
    border-bottom: solid, 3px;
    margin-bottom: 6px;
    padding-bottom: 15px;
}

.apres {
    text-align: center;
    font-size: 18px;
}

/*VÁRIOS TIPOS DE LISTA*/

h3 {
    color: #000066;
}

.listaPecas {
    color: #000066;
    list-style-type: upper-roman;
}

.preco {
    color: #FF0000;
    font-weight: bold;
}

/*TABELA COMUM COM JUNÇÃO DE CÉLULAS*/

.tabBike {
    border-collapse: collapse;
    margin-top: 6px;
    background-color: #FFCC44;
    color: #000066;
    font-family: arial, ubuntu;
}

.tabBike td, th {
    border: solid 3px;
    color: #226699;
    padding: 6px, 12px, 6px, 12px;
}

.tabBike .titulo {
    color: #FFFF00;
    background-color: #228855;
    font-size: 24px;
    text-align: center;
}

.tabBike .linTH {
    color: #FFFFFF;
    background-color: #22AA55;
    vertical-align: middle;
    text-align: center;
}

.tabBike .colTH {
    color: #FFFFFF;
    background-color: #2299DD;
    text-align: left;
}

.tabBike .preco {
    color: #EE0000;
    font-weight: bold;
    vertical-align: middle;
}

.tabBike .imgBike {
    width: 70px;
    height: 70px;
}

/*FORMULÁRIOS COM NOVOS ELEMENTOS*/

fieldset {
    margin: 20px, 10px, 0px, 10px;
}

.fsEsq {
    float: left;
    display: inline;
    margin: 0px;
}

.fsDir {
    float: right;
    display: inline;
    margin: 0px;
}

.botoes {
    text-align: right;
    margin: 20px, 10px, 0px, 10px;
}

.divLinha {
    width: 480px;
    margin-bottom: 6px;
}

.colPri {
    float: left;
    display: block;
    width: 90px;
}

.elemDir {
    float: right;
    display: block;
}

.inpGrande {
    width: 370px;
}

.inpMedio {
    width: 120px;
}

.numDD {
    width: 30px;
}

.numQD {
    width: 50px;
}

.fsEsqCompras {
    float: left;
    display: inline;
}

.fsDirCompras {
    float: right;
    display: inline;
}

.linhaCompras {
    width: 500px;
    margin-bottom: 6px;
}

.colPriCompras {
    float: left;
    display: block;
    width: 86px;
}

.inpEmail{
    width: 200px;
}