/*** Estilo Geral ***/

body {
    color: #DD0000;
    font-size: 16px;
    background-color: #EEEE33;
    font-family: verdana, liberation;
}

a:link {
    color: #DD0000;
    text-decoration: none;
}

a:visited {
    color: #CC0000;
    text-decoration: none;
}

ul {
    list-style-image: url("Imagens/Engrenagem.png");
}



/*** Estilo Seções ***/

header {
    display: block;
    margin-bottom: 1px;
}

nav {
    display: block;
    width: 20%;
    float: left;
}

section {
    display: block;
    width: 77%;
    float: right
}



/*** Estilo Header ***/

.ender {
    float: right;
    text-align: right;
    font-size: 15px;
    line-height: 140%; 
}

.imgLogo {
    padding-bottom: 15px;
    border-bottom: 3px, solid;
    margin-bottom: 6px;
}



/*** Estilo Nav ***/

nav ul {
    line-height: 230%;
    margin-top: 40px;
}



/*** Estilo Seção Apresentação ***/

div.apres {
    text-align: center;
    font-size: 18px;
}



/*** Estilo Seção Peças ***/

h3 {
    color: #000066;
}

.listaPecas {
    color: #000066;
    list-style-type: upper-roman;
}

.preco {
    color: #FF0000;
    font-weight: bold;
}



/*** Estilo Seção Bicicletas ***/

.tabBike {
    color: #000066;
    margin-top: 6px;
    border-collapse: collapse;
    font-family: arial, ubuntu;
    background-color: #FFCC44;
}

.tabBike td, .tabBike th {
    border: 3px, solid #226699;
    padding: 6px, 12px, 6px, 12px;
}

.tabBike .titulo {
    color: #FFFF00;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #228855;
}

.tabBike .linTH {
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    background-color: #22AA55;
}

.tabBike .colTH {
    color: #FFFFFF;
    text-align: left;
    background-color: #2299DD;
}

.tabBike .preco {
    color: #EE0000;
    font-weight: bold;
    vertical-align: middle;
}

.tabBike .imgBike {
    width: 70px;
    height: 70px;
}



/*** Estilo Formulário Cadastro ***/

/* Fieldsets */

fieldset {
    margin: 20px, 10px, 0px, 10px;
}

.fsEsq {
    float: left;
    display: inline;
    margin: 0px 0px 0px 0px;
}

.fsDir {
    float: right;
    display: inline;
    margin: 0px 0px 0px 0px;
}

/* Elementos do Formulário */

.botoes {
    text-align: right;
    margin: 20px, 10px, 0px, 10px;
}

.divLinha {
    width: 480px;
    margin-bottom: 6px;
}

.colPri {
    float: left;
    width: 90px;
    display: block;
}

.elemDir {
    float: right;
    display: block;
}

/* Tamanho de Input */

.inpGrande {
    width: 370px;
}

.inpMedio {
    width: 120px;
}

.numDD {
    width: 30px;
}

.numQD {
    width: 50px;
}



/*** Estilo Formulário Compras ***/

/* Fieldsets */

.fsEsqCompras {
    float: left;
    display: inline;
}

.fsDirCompras {
    float: right;
    display: inline;
}

/* Tamanho de Input */

.linhaCompras {
    width: 500px;
    margin-bottom: 6px;
}

.colPriCompras {
    float: left;
    width: 86px;
    display: block;
}

.inpEmail{
    width: 200px;
}

/* AD2 Exercício 01 */
.tituloPecas {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

.imgPecas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botaofecharPecas {
    text-align: center;
}

/* AD2 Exercício 02 */
.precoBikes {
    color: #EE0000;
    font-weight: bold;
    text-align: center;
}